.first {
    min-height: 800px;
    background: url(../img/1.jpeg) center (center/cover) no-repeat;
    
    &__descr {
        min-height: 800px;
        margin-left: auto;
        margin-right: 0;
        width: 45%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        color: #fff;
    }
}